{% include "store/base.html" %}
{% load static %}

{% block content %}

<style>
    .fail-text {
        color: red;
        font-weight: bold;
    }

    .form-layout {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        border-radius: 10px;
        text-align: center;
        padding: 2rem;
        box-sizing: border-box;
    }

    @media (max-width: 576px) {
        .form-layout {
            padding: 1rem;
            max-width: calc(100% - 2rem); /* Ensures no overflow */
        }
    }
</style>

<div class="container py-4">
    <div class="form-layout shadow-sm bg-primary">
        <h3><span class="fail-text">Eroare:</span> Linkul de verificare nu a putut fi trimis</h3>
        <p>Te rugăm să încerci din nou mai târziu</p>
    </div>
</div>

{% endblock %}
